
/**** MOBILE FIRST ****/

* {
    box-sizing: border-box;
}
:root {
    --orange: #F09B62;
    --light-orange: #e4a981;
    --white: #ffffff;
    --black: #26262D;
    --grey: #e3e3e3;
    --inactive-grey: #bcbbbb;
    --dark-grey: #808080;
  }


html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
    position: relative;

}

body {
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    border: 0;
}


main {
    font-family: "inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75em;

}

.main-title {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='900' preserveAspectRatio='none' viewBox='0 0 2000 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1458%26quot%3b)' fill='none'%3e%3cpath d='M-198.31 460.95 a268.3 268.3 0 1 0 536.6 0 a268.3 268.3 0 1 0 -536.6 0z' fill='rgba(227%2c 106%2c 24%2c .4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1167.68 817.87 a212.31 212.31 0 1 0 424.62 0 a212.31 212.31 0 1 0 -424.62 0z' fill='rgba(227%2c 106%2c 24%2c 0.)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M537.83 527.56 a170.64 170.64 0 1 0 341.28 0 a170.64 170.64 0 1 0 -341.28 0z' fill='rgba(227%2c 106%2c 24%2c 0.1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1670.18 842.71 a281.03 281.03 0 1 0 562.06 0 a281.03 281.03 0 1 0 -562.06 0z' fill='rgba(227%2c 106%2c 24%2c 0.)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M827.91 145.63 a295 295 0 1 0 590 0 a295 295 0 1 0 -590 0z' fill='rgba(227%2c 106%2c 24%2c .3)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1515.27 382.47 a256.98 256.98 0 1 0 513.96 0 a256.98 256.98 0 1 0 -513.96 0z' fill='rgba(227%2c 106%2c 24%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M209.41 101.44 a155.32 155.32 0 1 0 310.64 0 a155.32 155.32 0 1 0 -310.64 0z' fill='rgba(227%2c 106%2c 24%2c 0.3)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1458'%3e%3crect width='2000' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    padding-top: 2em;
    margin: 0;
    margin-top: -3em;
}

.main-title h1{
    margin-top: 5em;
    font-size: 2rem;
}


.ill-1 {
    filter: brightness(80%);
}


.logo {
    float: left;
    margin: 0em 1em;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.2px;
}

.burger {
    margin: .8em 1em;
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 4;
}


h1 {
    color: var(--black);
    text-align: center;
    font-size: 1.2rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.2em;
    font-family: 'inter', sans-serif;
}

h3 {
    margin: 0;
    color: var(--light-orange);
    font-weight: 500;
}

h4 {
    font-family: 'inter', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 1em;
    font-size: 1.4rem;
}

p {
    line-height: 1.4em;
    font-weight: 400;
    font-style: normal;
}

.arrow{
    width: 50px;
}

span {
    color: var(--orange);
}

.span2 {
    color: #aaa4a4;
    font-weight: 600;
}


.percentage {
    color: #c1abab;
}


/* .sub-title {
    color: rgba(199, 142, 230, .3);
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 5px;
    line-height: 55px;
    max-width: 600px;
} */

.sub-heading {
    /* font-family: Playfair, serif; */
    font-weight: 600;
    margin-top: 3.5em;
} 

/* .name {
    padding: .5em;
} */


a {
    color: var(--white);
    text-decoration: none;
}

hr {
    background-color: var(--grey);
    height: .3em;
    border: none;
    margin-bottom: 0;
    max-width: 90%;
}

#about {
    visibility: hidden;
}


.larger-text {
    font-size: 1.6rem;
}

img {
    width: 300px;
}

label {
    display: none;
}


/* Navigation */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 2vh;
    position: static;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    overflow-x: hidden;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    
}

.nav-links li {
    list-style: none;
    margin-right: 2em;

}

.nav-links a {
    color: var(--black);
    text-decoration: none;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-links a:active {
   font-weight: 600;
}

.nav-links a:hover{
    color: #808080;

}

/* .logo img {
    width: 60px;
} */

.burger {
    display: none;
    cursor: pointer;
    z-index: 200;
}

.burger > div {
    width: 25px;
    height: 2px;
    background-color: var(--black);
    margin: 5px;
    transition: all 0.3s ease;
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(+45deg) translate(-5px, -5px);
}

/* site map */

.nav2-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    max-width: 500px;
    margin: 1em auto;
}

.nav2-links li {
    list-style: none;
}

.nav2-links a {
    color: var(--black);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: .7rem;
}

.nav2-links li :hover {
    color: var(--dark-grey);
}

/****** Main Section ******/

/* .illustration {
    width: 20em;
} */


.intro {
    margin: 0 auto;
    font-size: 1.6rem;
    padding: .5em;
    max-width: 800px;
}


.about {
    margin: 4em auto;
    text-align: left;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.about-wrapper, .about img{
    margin: 0 auto;
}

.about p {
    padding: .2em .6em;
    letter-spacing: 0.6px;
    margin: 0 auto;
    max-width: 530px;
}

.about-header{
    font-weight: 500;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 36px;
}

.about-para {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 32px; 
    padding-top: 0;
}

.about img{
    width: 380px;
    margin-bottom: 1em;
}



/****** Cards ******/

.card {
    background: var(--white);
    box-shadow: 0 0 8px 1px var(--grey);
    margin: 1em;
    height: 390px;
    border-radius: 5px;
    position: relative;
    line-height: 1;
}

.card-details{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    list-style-type: none;
    margin-right: 0 2em;
    padding: 0;
}

.cards {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto 3em;
}

/* .card-btn,
.card {
    background-position: center;
    transition: background 1s;
    cursor: pointer;

} */

.card-btn {
    background-color: var(--orange);
    color: var(--white);
}

.card-btn:hover {
    background-color: rgba(228, 169, 129, .7);
    color: var(--white);
}

.card-btn:active {
    background-color: rgba(228, 169, 129, .8);
    background-color: peachpuff;
    /* background-size: 100%; */
    /* transition: background 0s; */
}

.fa-external-link-alt {
    margin-right: 1em;
    color:  var(--white);
}


.card:hover,
.card:focus,
.card:active,
.card:focus-within {
    box-shadow: 0 0 8px 2px var(--inactive-grey);
}

.card-img {
    margin: 1em 1em 0 1em;
    padding: 0;
    filter: brightness(100%);
    box-shadow: 0 0 5px 1px #eeeded;
}

.back-btn{
    background-color: none;
    color: var(--black);
    text-decoration: underline;
    cursor: pointer;
}

button, .submit-btn,
.social-link {
    background-color: var(--orange);
    color: var(--white);
    outline: none;
    border: none;
    padding: .5em 1em;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}


button:hover,
button:focus {
    background-color: rgba(228, 169, 129, .8);
}

/***** Overlay *****/
/* 
.overlay {
    position: absolute;
    bottom: 0%;
    right: 100%;
    left: 0%;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: .9s;
    border-radius: 5px;
    display: none;

}

.overlay h3 {
    color: var(--black);
    margin-top: 1.5em;
    margin-bottom: .5em;
    font-size: 1.3rem;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
}

.overlay ul {
    text-align: left;
    padding: 0;
    margin: 1em 0;
}

.overlay li {
    margin: .5em;
}


.overlay h3,
.overlay p {
    position: relative;
    white-space: wrap;
    border-radius: 4px;
    display: inline-block;
    width: 210px;
}

.fa-circle {
    font-size: 1rem;
    margin-left: 1em;
}

.dot-css {
    color: purple;
}

.dot-js {
    color: #3b294a;
}

.dot-html {
    color: rgb(67, 0, 67);
}


.card:hover .overlay,
.card:focus .overlay {
    width: 70%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffff;
}



.overlay:hover,
.overlay:focus {
    cursor: pointer;
} */




/**** Coursel ****/


.process {
    padding: 0;
}

.process li {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.process li::before {
    content: "•";
    color: var(--white);
    margin-right: .5em;
}

.ill-2 {
    margin-bottom: 3em;
}

.project-wrapper {
    background-color: #1e162c;
    max-width: 100vw;
    padding: 2em 0 3em 0;
}

.project-intro {
    margin: 8em auto 0;
}

.project-intro h2{
    /* font-family: Playfair, serif;
    font-size: 1.8rem; */
    padding: 0 1em;
    max-width: 600px;
    margin: 0 auto;
}
/* 
.carousel {
    max-width: 620px;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
    padding: 1em;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fade 3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.carousel-link {
    float: right;
    margin-top: -4em;
    margin-right: 5em;
    position: relative;
    z-index: 10;
    border-bottom: 1.6px solid rgb(84, 175, 236);
    padding: .2em .5em;
    color: rgb(226, 224, 224);
}


.carousel .carousel-item img {
    width: 100%;
    max-width: 620px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0px 2px 10px 0px rgb(154, 115, 161);

}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 105%;
    transform: translateY(-50%);
}

.carousel-btn {
    background-color: rgba(0, 0, 0, );
}



.carousel-btn:hover {
    cursor: pointer;
    outline: none;
    animation: fade 1s linear;
    background-color: rgba(0, 0, 0, 100%);
}

.carousel-btn:active {
    color: rgb(214, 214, 214);
}

.carousel .carousel-actions .carousel-btn#carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions .carousel-btn#carousel-button-next {
    margin-right: 20px;
} */


iframe {
    border-radius: 20px;
    border: solid 1px rgb(220, 218, 220);
    margin: 0 auto;
}


/* #mobile-hifi {
    border: solid 8px var(--black);
    border-top: solid 25px var(--black);
    border-bottom: solid 25px var(--black);
    box-shadow: 0 0 8px 1px var(--inactive-grey);
} */

/* #desktop-btn {
    box-shadow: 0 0 8px 1px var(--inactive-grey);
    border-radius: 50px;
    padding: .5em 1em;
} */

.projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
    text-align: left;
}

.project-title {
    line-height: 3rem;
    text-align: left;
    max-width: 450px;
    letter-spacing: 1.5px;
}

.project-title p {
    letter-spacing: 1.5px;
    color: var(--black);
}

.project-title h3 {
    color: var(--orange);
}

.project h2 {
    margin: 0;
    color: var(--black);
}

.project h3 {
    line-height: 1.2;
    margin-top: .5em;
}

.project-img img {
    transition: transform .6s;
    width: 500px;
    margin: 0 auto;
    padding: 1.3em;
    box-shadow: 0 0 8px 1px var(--grey);
    border-radius: 0;
}

.project-img img:hover {
    transform: scale(1.02);
}


.project-img p {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    color: #88848D;
    font-size: 1rem;
}


/****** Form ******/


.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
}

.social-link {
    width: 70px;
    height: 70px;
    background-color: var(--orange);
    border-radius: 50%;
    position: relative;
    animation: flash 1800ms alternate infinite ease;
}

@keyframes flash {

    0%,
    80% {
        background-color: #F09B62;
    }

    100% {
        background-color: rgba(240, 155, 98, .4);
    }
}



.social-link:nth-child(1) {
    animation-delay: 200ms;
}

.social-link:nth-child(2) {
    bottom: 3em;
    animation-delay: 1200ms;
}

.social-link:nth-child(3) {
    animation-delay: 2000ms;
}

.social-link:hover {
    font-size: 1.2rem;
}

.social-link img {
    width: 2.2em;
    position: relative;
    right: .3em;
    top: .3em;
}


/* .social-link:hover,
.social-link:focus {
    font-size: 1.2rem;
    background-color: rgb(112, 71, 134);
}

.social-link:active {
    box-shadow: 0px 0px 2.5px 0px rgb(228, 174, 238);
} */


.contact-container {
    text-align: left;
    margin: 8em auto 0;
    max-width: 700px;
}


.form-intro {
    margin: 1em 1.2em 1.2em 1.2em;
    text-align: center;
}

.form-intro p {
    letter-spacing: 1px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    max-width: 450px;
    margin: 0 auto;
}

.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-top {
    display: flex;
}

.top-input {
    width: 100%;
    padding: 0;
    margin: 0;
}

.form-text {
    padding: 1em 0;
    font-size: 1rem;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    margin: 1em;
    border: solid 1.5px var(--inactive-grey);
    background: var(--white);
}

.form-text:focus {
    outline: none;
}

.submit-container {
    text-align: center;
    margin-bottom: 2em;
}

.submit-btn {
    margin-top: 1em;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: rgba(228, 169, 129, .7);
}

.submit-btn:active {
    background-color: peachpuff;
}

::placeholder {
    font-size: 1rem;
    color: var(--inactive-grey);
    text-align: left;
}

.form-text {
    padding: .8em;
    margin: .8em;
    color: var(--black);
    font-size: 1rem;
}


/********** CASE STUDY PAGE ***********/

.cs-main {
    max-width: 1200px;
    margin: 10em auto;
    text-align: left;
    padding: 0 1em;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.intro-container {
    margin-bottom: 5em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.cs-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 5em;
}


.cs-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.cs-video-small-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cs-video-small {
    width: 550px;
    height: 480px;
    margin: 1em auto;
}

.cs-frames {
    width: 100%;
}


.cs-container p {
    max-width: 690px;
    margin-top: 0;
    letter-spacing: 1.5px;
}

.intro-container h2 {
    line-height: 1.1;
    font-size: 2.5rem;
    margin-top: 0;
}

.cs-description {
    display: flex;
    flex-wrap: wrap;
}

.cs-title {
    text-align: left;
    color: var(--black);
}


.cs-img {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: .5em;
    background-color: var(--white);
    box-shadow: 0 0 8px 1px var(--grey);
}

.cs-img-small {
    width: 40%;
}

.cs-section {
    margin: 4em auto;
}

.cs-section-end {
    text-align: center;
    max-width: 900px;
    margin-bottom: 10em;
    margin: auto;
}

.cs-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.cs-list,
.cs-list ul {
    line-height: 1.5;
}

.cs-list li {
    margin: 1em;
    padding: 0;
    font-size: 1rem;
}

.cs-container {
    text-align: left;
    /* padding: 0 1em; */
}

.cs-description {
    display: flex;
    justify-content: space-around;
}


/*footer*/

footer {
    padding: 4em;
    color: var(--black);
}


/*Scrollbar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: var(--grey);
}

::-webkit-scrollbar-thumb {
    background: rgba(204, 202, 201, .8);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cccac9;
}


/* Navbar Media Queries */

@media screen and (max-width: 1024px) {
    nav-links{
        width: 60%;
    }
    
}

@media screen and (max-width: 1020px) {

    .nav-links{
        position: absolute;
        right: 0px;
        height: 40vh;
        top: -2vh;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
        
    }
    .nav-links li{
        opacity: 0;
    }
    .burger {
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFadeIn{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes navLinkFadeOut{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px);
    }
}

/**** Media Queries ****/


@media (min-width: 510px) {

    /* .projects{
        margin: 4em auto;
    } */
}


@media (min-width: 700px) {

    /* .sub-title {
        font-size: 5rem;
        letter-spacing: 6px;
        line-height: 65px;
        margin-top: 1.5em;
    }


    .sub-heading {
        font-size: 2.4em;
    } */

    .process {
        font-size: 1.6rem;
        line-height: 1.5em;
    }



    /* h1 {
        font-size: 2.5rem;
    } */

    .intro {
        padding: 0 2em;
    }

    /* .wireframes {
        margin: 0 auto;
    }

    .wireframes img {
        margin: .8em;
    } */

    /* .about {
        padding-bottom: .5em;
    }

    

    .illustration {
        width: 500px;
    } */


    /* .social-links {
        display: flex;
        flex-direction: column;
        margin: 0 auto -12em auto;
        width: 50px;
    }

    .social-link {
        width: 60px;
        height: 60px;
        background-color: rgba(77, 45, 94, 100%);
        border-radius: 50%;
        position: relative;
        bottom: 19.2em;
        right: 1em;
    }

    .social-link:nth-child(1) {
        right: 1.4em;
        bottom: 23em;
    }

    .social-link:nth-child(2) {
        right: 5em;
        bottom: 23em;
    }

    .social-link:nth-child(3) {
        bottom: 22.5em;
    }

    .social-link:hover {
        font-size: 1.2rem;
    }

    .social-link img {
        width: 2.8em;
        position: relative;
        right: .85em;
    } */

}

@media (min-width: 770px) {

    .intro-container {
        display: flex;
        flex-direction: row;
    }

    .cs-list {
        flex-direction: column;
    }

    .flow-img1,
    .flow-img2,
    .flow-img3 {
        width: 19em;
        height: 19em;
    }

    .flow-imgs h3 {
        margin-bottom: 1em;
    }

    .wireframes h3 {
        margin-top: 2.5em;
    }
}

/* @media (min-width: 850px){
    nav{
        position: fixed;
    }

    .nav-links li{
        font-size: .4rem;
        /* display: flex;
        justify-content: space-around; */
        
    /* }

    .nav-links a {
        font-size: .7rem;
    }

    .logo h1{
        font-size: 1rem;
        margin: 0;
    }
} */ 


@media (min-width: 900px) {

    .sub-title {
        font-size: 6rem;
        letter-spacing: 7px;
        line-height: 80px;
        margin-top: 1.3em;
    }


    /* .icons {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3em;
        font-size: 1.2rem;
    }

    .icon {
        margin-right: .5em;
        font-size: 1.7rem;
    } */

    .flow-img1,
    .flow-img2,
    .flow-img3 {
        width: 21em;
        height: 21em;
    }

    .flow-imgs h3 {
        margin-bottom: 1em;
    }

    .wireframes h3 {
        margin-top: 2.5em;
    }
    
}


@media (min-width: 1020px) {

    /* .sub-title {
        font-size: 6.5rem;
        letter-spacing: 8px;
        line-height: 90px;
        margin-top: 1.1em;
    } */

    .sub-heading {
        font-size: 1.6rem;
    }

    .intro-para{
        margin-top: 11em;
    }
    .about img {
        width: 40%;
        margin-left: 2em;
        margin-bottom: 0;
        
    }
    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: .5em;
    }

    .wireframes img {
        margin: .8em;
    }

    nav{
        position: fixed;
    }

    .nav-links li{
        font-size: .6rem;
        margin-top: 1em ;
    }

    .nav-links a {
        font-size: .8rem;
    }

    .logo {
        margin-left: 2em;
    }

    .nav-links {
        margin-right: 2em;
    }

}

@media (min-width: 1080px){

    .main-title {
        height: 500px;
    }
}

@media (min-width: 1300px){
    .main-title {
        height: 600px;
    }
}

@media (min-width: 1400px) {
    .cards {
        flex-wrap: nowrap;
    }

    .form-intro p {
        letter-spacing: 2px;
        font-size: 1.3rem;
    }

    nav{
        position: fixed;
    }

    .nav-links li{
        font-size: .6rem;
    }

    .nav-links a {
        font-size: .9rem;
    }

    h2 {
        font-size: 2rem;
    }

    .sub-heading {
        font-size: 2rem;
    }

    .about p {
        padding: 0;
    }

    .about-header {
        font-size: 1.6rem;
    }

}


@media (min-width: 1640px){
    .main-title {
        height: 800px;
    }

    .main-title h1{
        font-size: 3rem;
    }

    .sub-heading {
        font-size: 2.2rem;
        padding: 0 .5em;
    }

    .project-intro{
        margin-top: 2em;
    }

    .project-img img {
        width: 600px;
    }

    .projects {
        max-width: 1500px;
    }

    .project {
        margin-top: 4em;
    }

    .project-title {
        font-size: 1.4rem;
        max-width: 500px;
    }


    .nav-links a {
        font-size: 1rem;
    }

    .logo h1 {
        font-size: 1.4rem;
    }

}

@media (min-width: 2200px){
    .main-title {
        height: 815px;
    }

    .intro-para {
        margin-top: 15em;
    }
}
